.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar-items {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 15px;
}


body {
  overflow-x: hidden;
}

#home-btn:hover, #add-user-btn:hover, #logout-btn:hover{
  background-color: #61dafb;
  color: #282c34;
  transition: background-color 0.5s ease, color 1.0s ease ,box-shadow 0.4s ease;
  /* border: none; */
  cursor: pointer;
  box-shadow: 0px 0px 18px rgba(75, 219, 224, 0.96);
}